.nav-link{
  font-size: 23px !important;
  margin: 0px 10px;
  
}


.navbar-brand{
  font-size: 30px !important;
  margin: 0px 10px;
  margin-left: 12px;
  
}
.navbar{
  top: 0;
  position: -webkit-sticky !important;
  position: sticky !important;
  width: 100%;
}